* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("img/temp.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}



nav {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 33px;
    height: 39px;
    border-radius: 50px;
    margin-right: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff8c00;
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px;
    min-height: 90vh;
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
}


.section {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    width: 45%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-height: 80vh;
    overflow-y: auto;
}
.section::-webkit-scrollbar {
    display: none;
}

.section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #fefefe;
}


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #fff;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #bbb;
}

.form-group button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #ff8c00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #e67e22;
}


.search-bar input {
    width: calc(100% - 60px);
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

.search-bar button {
    width: 76px;
    padding: 10px;
    font-size: 16px;
    background-color: #ff8c00;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 16px;
}

.search-bar button:hover {
    background-color: #e67e22;
}

a:link, a:visited {
    color: #fff;
}
